.container {
  overflow: hidden;
}

section {
  display: block;
  height: 600px;
  margin: 50px 25px;
  background: #EEE;
  position: relative;
}

.section-animate-enter {
  -webkit-transition: 1.5s linear all; /* Chrome */
	transition: 1.5s linear all;
	opacity: 0;
	left: 100%;
}
.section-animate-enter.section-animate-enter-active {
	opacity: 1;
	left: 0;
}