
html {
   font-size: 62.5%; 
}
body { 
	padding-bottom: 100px; 
}
footer {
	color: white;
	padding: 10px;
	background-color: #222;
}

/*	Navbar element */
.navbar {
  border-radius: 0;
}
.navbar-inverse .navbar-text {
  color: white;
}

/*	Shop items elements */
.shop-items {
	font-family: 'Duru Sans', sans-serif;
}
.shop-items h2 {
  font-size: 22px;
}
.shop-items img {
	width: 100%; 
	height: auto; 
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}
.item {
	border: 1px solid rgb(218, 218, 218);
	padding: 20px 20px;
	margin-bottom: 10px;
}
.item .item_description {
   color: #888; 
}

/*	Static Menu */
.static-left-menu {
	position: fixed;
	width: 25px;
	height: 100px;
	padding: 10px;
	right: 0px;
	top: 110px;
	color: white;
	z-index: 9999;
	border-radius: 18px 0 18px 0;
	box-shadow: 0px 1px 4px 3px rgba(0,0,0,0.4);
	background-color: rgba(2, 120, 155, 0.6);
}
.static-left-menu:hover {
	box-shadow: 0px 1px 6px 4px rgba(0,0,0,0.4);
}
span.rotate {
	display: block;
	-webkit-transform: rotate(90deg);
}

/*	Loading Page */
.loading-page {
	padding: 20px 0;
}
.loading-page i {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

/* Animation ico */
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;

/* Size od ico */
	vertical-align:middle;
	color:#888;
	font-size:30px
}


/* CART */
#top-navbar {
	position: relative;
}
#cartPopover {
  position: absolute;
  top: 40px;
  background: #fff;
  border: 1px solid #ccc;
  font-size: 11px;
  right: 20px;
  -webkit-box-shadow: 0 1px 2px 1px #ccc;
  box-shadow: 0 1px 2px 1px #ccc;
}
#cartPopover table th {
  background: #eee;
  padding: 5px;
}
#cartPopover table td {
  padding: 5px;
  border-top: 1px solid #ccc;
}
.simplecart_p {
  color: #666;
  cursor: pointer;
}

/* Read More style */
a.read-more, a.read-less {
	cursor: pointer;
	color: blue;
}
span.more-text {
	display: none;
} 
span.more-text.show {
		display: inline !important
}


/*	Isolate items */
.element-item h1,
.element-item h2,
.element-item h3,
.element-item h4,
.element-item p {
  background-color: transparent!important;
}



.element-item {
  position: relative;
  width: 280px;
  height: 310px;
  float: left;
  padding: 5px;
  margin: 2px;
  border: 1px solid rgba(34, 34, 34, 0.17);
}

.element-item img {
    width: 190px;
}

.filters-isotope button {
  color: #777;
  font-size: 18px;
  box-shadow:none;
  border-radius: 0;
  margin-right: 0px;
  padding: 10px 40px;
}
.filters-isotope button:hover {
    color: white;
    border:1px solid transparent;
    background-color: rgba(254, 86, 7, 0.59);
}
.filters-isotope button.active {
  color:white;
  border:1px solid transparent;
  background-color: #fe5607;
}