<div id="cartPopover">
    <div class="simpleCart_items">
<!--         <table><thead>
                <tr class="headerRow"><th class="item-name">Name</th>
                    <th class="item-price">Price</th><th class="item-decrement"></th>
                    <th class="item-quantity">Qty</th><th class="item-increment"></th>
                    <th class="item-total">SubTotal</th><th class="item-remove"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="itemRow row-3 even" id="cartItem_SCI-4">
                    <td class="item-name">P840B Black White White - Nike Air Max Trainers UK</td>
                    <td class="item-price">$200.00</td>
                    <td class="item-decrement">
                        <a href="javascript:;" class="simpleCart_decrement">-</a>
                    </td>
                    <td class="item-quantity">1</td>
                    <td class="item-increment">
                        <a href="javascript:;" class="simpleCart_increment">+</a>
                    </td>
                    <td class="item-total">$200.00</td>
                    <td class="item-remove">
                        <a href="javascript:;" class="simpleCart_remove">Remove</a>
                    </td>
                </tr>
                <tr class="itemRow row-3 even" id="cartItem_SCI-4">
                    <td class="item-name">P840B Black White White - Nike Air Max Trainers UK</td>
                    <td class="item-price">$200.00</td>
                    <td class="item-decrement">
                        <a href="javascript:;" class="simpleCart_decrement">-</a>
                    </td>
                    <td class="item-quantity">1</td>
                    <td class="item-increment">
                        <a href="javascript:;" class="simpleCart_increment">+</a>
                    </td>
                    <td class="item-total">$200.00</td>
                    <td class="item-remove">
                        <a href="javascript:;" class="simpleCart_remove">Remove</a>
                    </td>
                </tr>
            </tbody>
        </table> -->
    </div>
</div>