
    <p style="border: 1px solid black">Koszyk: 
        <span class="simpleCart_total"></span> 
        (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)
        <a href="javascript:;" class="simpleCart_empty">Clean</a>
        <br />
    </p>

    <div class="sc_demo_items" style="border:1px solid orange;">
    </div>

    <br />

    <p style="border:1px solid green">
        SubTotal: <span id="simpleCart_total" class="simpleCart_total"></span> <br />
        Tax Rate: <span id="simpleCart_taxRate" class="simpleCart_taxRate"></span> <br />
        Tax: <span id="simpleCart_tax" class="simpleCart_tax"></span> <br />
        Shipping: <span id="simpleCart_shipping" class="simpleCart_shipping"></span> <br />
        -----------------------------<br />
        Final Total: <span id="simpleCart_grandTotal" class="simpleCart_grandTotal"></span> <br />
    </p>