<!-- Home Page Section -->

<div class="row shop-items">
    <!-- item -->
    <div ng-repeat="item in items" class="col-md-3">
        <div class="item">
            <div class="item_image">
                <img src="http://paypalinstant.com/images/shoe3.jpg">
            </div>
            <h2>{{item.name}}</h2>
            <div class="item_description">
                The sky is the limit only for those who aren't afraid to fly!
                I believe every human has a finite number of heartbeats. I don't intend to waste any of mine

                Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no man has gone before.
            </div>
            <div style="margin-top:10px;">
                <button class="item_add btn btn-xs btn-success"> Add to Cart</button> 
                <span class="item_price ng-binding"> $500</span>
            </div>
        </div>
    </div>

</div>