<!-- Home Page Section -->

<div class="row shop-items">
    <!-- item -->
    <div ng-repeat="item in spreadsheet" class="col-md-3">
        <div class="item simpleCart_shelfItem">
            <input type="hidden" class="item_id" value="{{item.item_id}}" /> 
            <input type="hidden" class="item_size" value="44" /> 
            <input type="hidden" class="item_quantity" value="1" />
            <div class="item_image">
                <img ng-src="{{item.item_img}}" >
            </div>
            <h2 ng-bind="item.item_name" class="item_name"></h2>
            <div class="item_description" ng-bind="item.item_description">
            </div>
            <div style="margin-top:10px;">
                <button class="item_add btn btn-xs btn-success item_add"> Add to Cart</button> 
                <span class="item_price ng-binding"><span ng-bind="item.item_price"></span> PLN</span>
            </div>
        </div>
    </div>

</div>
