<!-- Home Page Section -->

<div class="row shop-items">
    <!-- item -->
    <div ng-repeat="item in spreadsheet" class="col-md-3">
        <div class="item">
            <div class="item_image simpleCart_shelfItem">
                <img ng-src="{{item.item_img}}" >
            </div>
            <h2 ng-bind="item.item_name"></h2>
            <div class="item_description" ng-bind="item.item_description">
            </div>
            <div style="margin-top:10px;">
                <button class="item_add btn btn-xs btn-success"> Add to Cart</button> 
                <span class="item_price ng-binding"><span ng-bind="item.item_price"></span> PLN</span>
            </div>
        </div>
    </div>

</div>