<div class="examples" ng-hide="fakeIntro">
      <!-- <h4>Examples:</h4> -->
      <div class="btn-group btn-group-justified">
        <a href="#/progress" class="btn btn-primary btn-lg" ng-click="start()">
          <i class="glyphicon glyphicon-play-circle"></i> <span>start LoadingBar</span>start()
        </a>
        <a href="#/progress" class="btn btn-primary btn-lg" ng-click="complete()">
          <i class="glyphicon glyphicon-play-circle"></i> <span>stop LoadingBar</span>complete()
        </a>
      </div>
</div>